* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preloader {
  width: 100%;
  height: 100vh;
  display: flex;
}

.preloader img {
  max-width: 250px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f20305;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.nav-social svg {
  width: 20px;
  height: 20px;
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.navbar {
  z-index: 2;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

.navbar.scrolled a {
  color: black;
}

.navbar.scrolled a:hover {
  color: red;
}
